catboost==1.2.2
colorama==0.4.6
ipykernel==6.29.0
joblib==1.3.2
lightgbm==4.2.0
matplotlib==3.7.4
numba==0.58.1
numpy==1.24.4
pandas==1.5.3
plotly==5.20.0
polars==0.20.5
pyarrow==11.0.0
scikit-learn==1.2.2
scipy==1.11.4
seaborn==0.12.2
tqdm==4.66.1
xgboost==2.0.3
